@import "/vendors/font-awesome/css/font-awesome.min.css";
@import "/vendors/ionicons/css/ionicons.min.css";
@import "/vendors/bootstrap/dist/css/bootstrap.min.css";
@import "/vendors/toastr/build/toastr.min.css";


$green: #009688;

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem;
  height: 30px;
  text-align: center;
  height: 90px;
}


.main-container {
  padding: 2rem;
  margin-bottom: 90px;
  margin-left: 256px;
}

.green  {
  background-color: $green;
}

// Calender
.calendar-case {
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  &.clickable {
    cursor: pointer;
    &:hover {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);
      background-color: rgba(0,0,0,0.0980392);
    }
  }
  &.red {
    background-color: #C62828;
    color: white;
    border: none;
    a {
      color: white;
    }
  }
  &.green {
    background-color: #4CAF50;
    color: white;
    border: none;
  }
}

.calendar-column {
  padding: 0;
}
