@import "/vendors/font-awesome/css/font-awesome.min.css";
@import "/vendors/ionicons/css/ionicons.min.css";
@import "/vendors/bootstrap/dist/css/bootstrap.min.css";
@import "/vendors/toastr/build/toastr.min.css";


$green: #009688;

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem;
  height: 30px;
  text-align: center;
  height: 90px;
}

.main-container {
  padding: 2rem;
  margin-bottom: 90px;
  margin-left: 256px;
}

.green  {
  background-color: $green;
}
